<div class="main__container">
  <h1>Strawberry history</h1>

  <p>The first garden strawberry was grown in Brittany, France during the late 18th century. Prior to this, wild strawberries and cultivated selections from wild strawberry species were the common source of the fruit. The strawberry fruit was mentioned in ancient Roman literature in reference to its medicinal use.</p>

  <div id="image-gallery" class="gallery">
      <bb-card title='Blackberries' description='Fresh from garden' src='https://goo.gl/zfhMKP'>
        loading...
      </bb-card>
  </div>



</div>
