<div class="main__container">
  <h1>Strawberry history</h1>

  <p>The first garden strawberry was grown in Brittany, France during the late 18th century. Prior to this, wild strawberries
    and cultivated selections from wild strawberry species were the common source of the fruit. The strawberry fruit was
    mentioned in ancient Roman literature in reference to its medicinal use.</p>

  <div id="image-gallery" class="gallery">

    <bb-card title='Strawberries' description='Fresh from Sherry garden' src='../assets/images/strawberry-unx.jpeg' style="--background-color: #A11B38; --color: #ffffff;">
      loading...
    </bb-card>

    <bb-card title='Strawberries' description='Fresh from Ana garden' src='../assets/images/strawberry-box.jpeg'>
      loading...
    </bb-card>
  </div>

</div>
